@model PE.HMIWWW.ViewModel.Module.Lite.Product.VM_ProductCatalogue

<div class="row h-100 p-0 pt-3">
    <div class="col-4 p-0">
        <div class="container-fluid">
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.Name)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.Name)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.Type)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.Type)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.Description)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.Description)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.SAPNumber)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.SAPNumber)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.Shape)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.Shape)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.Steelgrade)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.Steelgrade)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.StdGapTime)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.StdGapTime)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.StdRollingTime)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.StdRollingTime)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.StdProductivity)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.StdProductivity)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.StdQualityYield)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.StdQualityYield)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.StdUtilizationTime)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.StdUtilizationTime)
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 p-0">
        <div class="container-fluid">
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.Length)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.Length)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.LengthMin)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.LengthMin)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.LengthMax)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.LengthMax)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.Width)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.Width)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.WidthMin)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.WidthMin)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.WidthMax)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.WidthMax)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.ProfileToleranceMin)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.ProfileToleranceMin)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.ProfileToleranceMax)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.ProfileToleranceMax)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.Ovality)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.Ovality)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.OvalityMax)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.OvalityMax)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.Slitting)
                </div>
                <div class="col check-box">
                    @Html.CheckBoxFor(m => m.Slitting, new { @disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 p-0">
        <div class="container-fluid">
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.Thickness)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.Thickness)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.ThicknessMin)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.ThicknessMin)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.ThicknessMax)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.ThicknessMax)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.Weight)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.Weight)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.WeightMin)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.WeightMin)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.WeightMax)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.WeightMax)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.MaxTensile)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.MaxTensile)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.ExitSpeed)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.ExitSpeed)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.StdMetallicYield)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.StdMetallicYield)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.StdProductionTime)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.StdProductionTime)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.MaxYieldPoint)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.MaxYieldPoint)
                </div>
            </div>
        </div>
    </div>
</div>