
@{
    Layout = "~/Views/Shared/_LayoutWithoutWidgets.cshtml";
}
@section module_menu
{
    @Html.ImageButton("new", "AddNew()", false)
}

<div class="container-fluid p-3">
    <div class="row">
        <div class="col-3 grid-filter">
            @Html.Partial("~/Views/Module/PE.Lite/Heat/_HeatsSearchGrid.cshtml")
        </div>
        <div class="col-9 element-details" id="HeatDetails">
            <div class="row justify-content-center plug">
                <div class="col-6 align-self-center">
                    <img src="~/Content/Shared/plug.png" />
                    <p class="mt-5 plug-info">@VM_Resources.INFO_SelectPlugInfo</p>
                </div>
            </div>
        </div>
    </div>
</div>

@Styles.Render("~/Content/Module/Heat")
@Scripts.Render("~/Scripts/Module/Heat")