@model PE.HMIWWW.ViewModel.Module.Lite.ActualStandConfiguration.VM_StandConfiguration
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
}



@using (Ajax.BeginForm("UpdateStandConfiguration", "ActualStandConfiguration", new AjaxOptions { UpdateTargetId = "formContainer", OnBegin = "OnFormBegin", OnSuccess = "OnFormSuccess", OnFailure = "OnFormError" }, new { @class = "form-horizontal", id = "form", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)


    <div class="row form-group">
        <div class="col text-right align-self-center">
            <label>@Html.LabelFor(x => x.StandNo)</label>
        </div>
        <div class="col">
            @Html.DisplayFor(m => m.StandNo)
        </div>
    </div>

    <div class="row form-group">
        <div class="col text-right align-self-center">
            <label>@Html.LabelFor(x => x.Arrangement)</label>
        </div>
        <div class="col">
            @(Html.Kendo().DropDownList().Name("Arrangement").DataTextField("Text").DataValueField("Value").Value(Model.Arrangement.ToString()).HtmlAttributes(new { style = "width:220px" }).BindTo((SelectList)ViewBag.Arrang))@Html.ValidationMessageFor(m => m.Arrangement)
        </div>
    </div>

    <div class="row form-group">
        <div class="col text-right align-self-center">
            <label>@Html.LabelFor(x => x.StandStatus)</label>
        </div>
        <div class="col">
            @(Html.Kendo().DropDownList().Name("StandStatus").DataTextField("Text").DataValueField("Value").Value(Model.StandStatus.ToString()).HtmlAttributes(new { style = "width:220px" }).BindTo((SelectList)ViewBag.StandStat))@Html.ValidationMessageFor(m => m.StandStatus)

        </div>
    </div>

    <hr />

    <div class="row form-group">
        <div class="col invalid">
            <p id="error">
                <span class="k-icon k-i-close-circle error-icon"></span> @VM_Resources.GLOB_Error
            </p>
        </div>
        <div class="col text-right">
            <button class="btn btn-primary popup_button" onclick="displayMessage()" type="submit">
                @VM_Resources.BUTTON_SubmitForm
            </button>
        </div>
    </div>

    @*<div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.StandNo, new { @class = "col-md-11 control-label" })
                    <div class="col-md-10">
                        @Html.DisplayFor(m => m.StandNo)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Arrangement, new { @class = "col-md-10 control-label" })
                    <div class="col-md-12">
                        @(Html.Kendo().DropDownList().Name("Arrangement").DataTextField("Text").DataValueField("Value").Value(Model.Arrangement.ToString()).HtmlAttributes(new { style = "width:220px" }).BindTo((SelectList)ViewBag.Arrang))@Html.ValidationMessageFor(m => m.Arrangement)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.StandStatus, new { @class = "col-md-11 control-label" })
                    <div class="col-md-10">
                        @(Html.Kendo().DropDownList().Name("StandStatus").DataTextField("Text").DataValueField("Value").Value(Model.StandStatus.ToString()).HtmlAttributes(new { style = "width:220px" }).BindTo((SelectList)ViewBag.StandStat))@Html.ValidationMessageFor(m => m.StandStatus)
                    </div>
                    <br />
                    <div class="col-md-10">
                        <div class="col-md-offset-2 " style="text-align:right; padding-top:12px;">
                            <input type="submit" class="btn btn-primary popup_button" value="@PE.HMIWWW.Core.Resources.VM_Resources.BUTTON_SubmitForm" />
                        </div>
                    </div>
                </div>
            </div>

        </div>*@



}
