@model PE.HMIWWW.ViewModel.Module.Lite.WorkOrder.VM_WorkOrderOverview

<div class="row">
    <div class="col-4 p-0 pt-3">
        <div class="container-fluid">
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.Name)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.Name)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.Type)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.Type)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.Description)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.Description)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.SAPNumber)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.SAPNumber)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.Shape)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.Shape)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.Steelgrade)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.Steelgrade)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.StdGapTime)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.StdGapTime)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.StdRollingTime)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.StdRollingTime)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.StdProductivity)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.StdProductivity)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.StdQualityYield)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.StdQualityYield)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.StdUtilizationTime)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.StdUtilizationTime)
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 p-0 pt-3">
        <div class="container-fluid">
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.Length)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.Length)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.LengthMin)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.LengthMin)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.LengthMax)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.LengthMax)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.Width)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.Width)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.WidthMin)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.WidthMin)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.WidthMax)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.WidthMax)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.ProfileToleranceMin)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.ProfileToleranceMin)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.ProfileToleranceMax)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.ProfileToleranceMax)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.Ovality)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.Ovality)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.OvalityMax)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.OvalityMax)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.Slitting)
                </div>
                <div class="col check-box">
                    @Html.CheckBoxFor(m => m.PC.Slitting, new { @disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 p-0 pt-3">
        <div class="container-fluid">
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.Thickness)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.Thickness)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.ThicknessMin)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.ThicknessMin)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.ThicknessMax)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.ThicknessMax)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.Weight)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.Weight)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.WeightMin)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.WeightMin)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.WeightMax)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.WeightMax)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.MaxTensile)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.MaxTensile)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.ExitSpeed)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.ExitSpeed)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.StdMetallicYield)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.StdMetallicYield)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.StdProductionTime)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.StdProductionTime)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.PC.MaxYieldPoint)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.PC.MaxYieldPoint)
                </div>
            </div>
        </div>
    </div>
</div>