@model PE.HMIWWW.ViewModel.Module.Lite.WorkOrder.VM_WorkOrderOverview

<div class="row h-100">
    <div class="col">
        @(Html.Kendo().TabStrip()
          .Name("WorkOrderBody")
          .Animation(false)
          .HtmlAttributes(new { style = "width: 100%;" })
          .Scrollable(false)
          .Items(tabstrip =>
          {
              tabstrip.Add().Text(VM_Resources.NAME_WorkOrderDetails)
                .Selected(true).Content(@Html.Partial("~/Views/Module/PE.Lite/WorkOrder/_WorkOrderDetails.cshtml", Model).ToHtmlString());
              tabstrip.Add().Text(VM_Resources.NAME_ProductCatalogue)
                .Selected(false).Content(@Html.Partial("~/Views/Module/PE.Lite/WorkOrder/_ProductCatalogueDetails.cshtml", Model).ToHtmlString());
              tabstrip.Add().Text(VM_Resources.NAME_BilletCatalogue)
                .Selected(false).Content(@Html.Partial("~/Views/Module/PE.Lite/Material/_BilletCatalogueDetails.cshtml", Model).ToHtmlString());
              if (Model.Heat != null)
              {
                  tabstrip.Add().Text(VM_Resources.NAME_HeatChemAnalysis)
                    .Selected(false).Content(@Html.Partial("~/Views/Module/PE.Lite/Heat/_HeatChemAnalysis.cshtml", Model.Heat).ToHtmlString());
              }
              tabstrip.Add().Text(VM_Resources.NAME_MaterialsList)
                .Selected(false).Content(@Html.Partial("~/Views/Module/PE.Lite/WorkOrder/_WorkOrderMaterialsListForPopup.cshtml", Model.WorkOrderId).ToHtmlString());
          })
        )
    </div>
</div>

<script>
    function GoToMaterial(materialId) {
        let dataToSend = {
            MaterialId: materialId
        };
        openSlideScreen('Material', 'ElementDetails', dataToSend);
    }
</script>