@model PE.HMIWWW.ViewModel.Module.Lite.RollsManagement.VM_RollsWithTypes
@{
    ViewBag.Title = VM_Resources.PAGE_TITLE_RollsManagement_ScrapRollDialog;
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
}

@using (Ajax.BeginForm("ScrapRoll", "RollsManagement", new AjaxOptions { UpdateTargetId = "formContainer", OnBegin = "OnFormBegin", OnSuccess = "OnFormSuccess", OnFailure = "OnFormError" }, new { @class = "container-fluid", id = "form", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id);
    @Html.HiddenFor(x => x.RollName);
    @Html.HiddenFor(x => x.Status);

    <div class="row form-group">
        <div class="col text-right align-self-center">
            <label>@Html.LabelFor(x => x.RollName)</label>
        </div>
        <div class="col">
            @Html.Kendo().TextBoxFor(x => x.RollName).HtmlAttributes(new { @class = "form-control form-control-sm" })
            @Html.ValidationMessageFor(x => x.RollName)
        </div>
    </div>


    <div class="row form-group">
        <div class="col text-right">
            <label>@Html.LabelFor(x => x.RollTypeId)</label>
        </div>
        <div class="col">

            @(Html.Kendo().DropDownListFor(x => x.RollTypeId)
                                             .Name("RollTypeId")
                                             .DataTextField("Text")
                                             .DataValueField("Value")
                                             .HtmlAttributes(new { @class = "form-control form-control-sm" })
                                             .BindTo(new SelectList(@ViewBag.RollTypes.Items, "RollTypeId", "RollTypeName"))
                                             .OptionLabel("-")
            )
        </div>
        @*@Html.Kendo().TextBoxFor(x => x.DefectCatalogueCategory).HtmlAttributes( new { @class = "form-control form-control-sm" })*@
    </div>

    <div class="row form-group">
        <div class="col text-right">
            <label>@Html.LabelFor(x => x.RollSetName)</label>
        </div>
        <div class="col">
            @Html.Kendo().TextBoxFor(x => x.RollSetName).HtmlAttributes(new { @class = "form-control form-control-sm" })
            @Html.ValidationMessageFor(x => x.RollSetName)
        </div>
        @*@Html.Kendo().TextBoxFor(x => x.DefectCatalogueCategory).HtmlAttributes( new { @class = "form-control form-control-sm" })*@
    </div>

    <div class="row form-group">
        <div class="col text-right">
            <label>@Html.LabelFor(x => x.ScrapDate)</label>
        </div>
        <div class="col">
            @Html.Kendo().DateTimePickerFor(x => x.ScrapDate).HtmlAttributes(new { @class = "form-control form-control-sm" })
            @Html.ValidationMessageFor(x => x.ScrapDate)
        </div>
        @*@Html.Kendo().TextBoxFor(x => x.DefectCatalogueCategory).HtmlAttributes( new { @class = "form-control form-control-sm" })*@
    </div>

    <div class="row form-group">
        <div class="col text-right">
            <label>@Html.LabelFor(x => x.ScrapReason)</label>
        </div>
        <div class="col">
            @(Html.Kendo().DropDownListFor(x => x.ScrapReason)
                                 .Name("ScrapReason")
                                 .DataTextField("Text")
                                 .DataValueField("Value")
                                 .HtmlAttributes(new { @class = "form-control form-control-sm" })
                                 .BindTo(new SelectList(@ViewBag.RollScrapReasons.Items, "Key", "Value"))
                                 .OptionLabel("-")
            )
        </div>
        @*@Html.Kendo().TextBoxFor(x => x.DefectCatalogueCategory).HtmlAttributes( new { @class = "form-control form-control-sm" })*@
    </div>

    <hr />

    <div class="row form-group">
        <div class="col invalid">
            <p id="error">
                <span class="k-icon k-i-close-circle error-icon"></span> @VM_Resources.GLOB_Error
            </p>
        </div>
        <div class="col text-right">
            <button class="btn btn-primary popup_button" onclick="displayMessage()" type="submit">
                @VM_Resources.GLOB_Form_Button_Save
            </button>
        </div>
    </div>
}

<script>
    //$.validator.unobtrusive.parse("#form");

    $(function () {

        $('#error').css("display", "none");
        $("#form").kendoValidator().data("kendoValidator");

    });

    function displayMessage() {

        var validator = $("#form").kendoValidator().data("kendoValidator");

        if (validator.validate()) {
            $('#error').css("display", "none");
        } else {
            $('#error').css("display", "block");
            $('#popup-footer')
                .css('display', 'block')
                .css('background-color', 'rgb(206, 0, 55)');
        }
    };

</script>