@model PE.HMIWWW.ViewModel.System.VM_AccountPassword
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
}

@if (Model != null && !@ViewData.ModelState.IsValid)
{
    <script>
        $(document).ready(function () {
            $("#header").css('background', '#ce0037').css('color', '#fff');
        })
    </script>

}


@using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions { UpdateTargetId = "formContainer", OnBegin = "OnFormBegin", OnSuccess = "OnFormSuccess", OnFailure = "OnFormError" }, new { @class = "form-horizontal", id = "form", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.UserName)

    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control popup-input" })
        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control popup-input" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control popup-input" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
    <hr />
    <input type="submit" class="btn btn-default btn-primary popup_button" value="@PE.HMIWWW.Core.Resources.VM_Resources.BUTTON_SubmitForm" />
    <div class="clearfix"></div>
}


