@model PE.HMIWWW.ViewModel.Module.Lite.Material.VM_MaterialCatalogue

<div class="row p-0 pt-3">
    <div class="col-4 p-0">
        <div class="container-fluid">
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.MaterialName)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.MaterialName)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.Type)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.Type)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.Description)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.Description)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.SAPNumber)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.SAPNumber)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.Shape)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.Shape)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.SteelgradeCode)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.SteelgradeCode)
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 p-0">
        <div class="container-fluid">
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.Length)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.Length)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.LengthMin)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.LengthMin)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.LengthMax)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.LengthMax)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.Width)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.Width)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.WidthMin)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.WidthMin)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.WidthMax)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.WidthMax)
                </div>
            </div>

        </div>
    </div>
    <div class="col-4 p-0">
        <div class="container-fluid">
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.Thickness)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.Thickness)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.ThicknessMin)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.ThicknessMin)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.ThicknessMax)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.ThicknessMax)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.Weight)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.Weight)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.WeightMin)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.WeightMin)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 text-right">
                    @Html.LabelFor(m => m.WeightMax)
                </div>
                <div class="col">
                    @Html.DisplayFor(m => m.WeightMax)
                </div>
            </div>
        </div>
    </div>
</div>